<!DOCTYPE html>
<html>
{#TODO:Head configuration#}

{% block head %}
    <head>
        {#Standard input for head#}
        <meta charset="UTF-8"/>
        <title>{% block title %}Welcome!{% endblock %}</title>

        {#Bootstrap included here#}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        {#Favicon#}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

        {#-------------------------------------------------------------------------#}
        {#            If more things are needed in HEAD they go below              #}
        {#-------------------------------------------------------------------------#}

    </head>
{% endblock %}


{#This is the body - all that is displayed#}
<body>

{#TODO:Header configuration#}
<header>
    {% block header %}
        <h2>Here should go the stuff from fragments</h2>
    {% endblock %}
</header>

{#TODO:View configuration#}
<main>
    {% block main %}
        Here should go the stuff from fragments
    {% endblock %}
</main>

{#TODO:Footer configuration#}
{% block footer %}
    <footer>
        <div class="container modal-footer">
            <p>&copy; 2017 - Xel'Selenius Enterprise</p>
        </div>

        {#---------------------------------------------------------------------------#}
        {#            If more things are needed in FOOTER they go below              #}
        {#---------------------------------------------------------------------------#}

    </footer>
{% endblock %}

{#TODO:Scripts inclusion#}
{% block javascripts %}{% endblock %}

</body>
</html>
