<!DOCTYPE html>
<html>
{#TODO:Head configuration#}
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

{#TODO:Header configuration#}
<header>            </header>

{#TODO:View configuration#}
<main>              </main>

{#TODO:Footer configuration#}
<footer>                </footer>

{#TODO:Scripts inclusion#}
{% block javascripts %}{% endblock %}

</body>
</html>
