{% extends "base.html.twig" %}

{% block title %}
    Galaxy Map
{% endblock %}

{% block main %}
    <table>
        {#{% for coordinates in planet_matrix %}#}
            {#<tr>#}
                {#{{ coordinates }}#}
            {#</tr>#}
        {#{% endfor %}#}
    </table>
{% endblock %}