{% extends "base.html.twig" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <div class="text-center">
        <h1>Xel'Naga Enterprise</h1>

        <h2> Game Designer</h2>
        <p>Simeon Petrov</p>

        <h2> Lead Developer</h2>
        <p>Simeon Petrov</p>

        <h2> Designer </h2>
        <p>Simeon Petrov</p>

        <h2> Art </h2>
        <p>Star Empire RIP </p>
    </div>

{% endblock %}