<div class="container">
    <h1 class="text-center">Support</h1>
    <h3 class="text-center">Write and Submit your ticket</h3>
    <div class="col-md-4 col-md-offset-4">
        <form action="" method="post">
            <input title="" class="form-control" type="text"><br>
            <textarea title="" rows="4" cols="50" class="form-control"></textarea><br>

            <div class="text-center">
                <button class="btn btn-primary" type="button">Submit your ticket</button>
                <button class="btn btn-danger" type="button">Cancel</button>
            </div>

        </form>
    </div>
</div>