{% extends "base.html.twig" %}

{% block title %}
    Buildings
{% endblock %}

{% block main %}
    <div class="container body-content">
        <div class="row">
            <table id="text-center" style="width:100%" border="1" >
                <tr id="text-center">
                    <th>Picture</th>
                    <th>Level</th>
                    <th>Name</th>
                    <th>Minerals</th>
                    <th>Hydrogen</th>
                    <th>Time to build</th>
                    <th>Status</th>
                </tr>
                {#TODO:Make some space#}
                <tr>
                    <td><img src="{{ asset('img/bs1.jpg') }}"></td>
                    <td>0</td>
                    <td>Mining Facility</td>
                    <td>94</td>
                    <td>45</td>
                    <td>30s</td>
                    <td>Start Construction</td>
                </tr>
                {#TODO:Make some space#}
                <tr>
                    <td><img src="{{ asset('img/bs2.jpg') }}"></td>
                    <td>0</td>
                    <td>Hydrogen Extractor</td>
                    <td>94</td>
                    <td>45</td>
                    <td>30s</td>
                    <td>Start Construction</td>
                </tr>
                {#TODO:Make some space#}
                <tr>
                    <td><img src="{{ asset('img/bs11.jpg') }}"></td>
                    <td>0</td>
                    <td>Shipyard</td>
                    <td>94</td>
                    <td>45</td>
                    <td>30s</td>
                    <td>Start Construction</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}