{% extends "base.html.twig" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="text-center">Register</h1>
        <div class="col-md-4 col-md-offset-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="text-center">
                <button class="btn btn-primary" type="submit" formnovalidate>Register!</button>
                <button class="btn btn-danger" type="button" href="{{ path('home') }}">Cancel</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}